<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
</head>
<body>
Bookings page
<a href="/profile">Profile</a>
<a href="/user">Home</a>
<a href="/">Logout</a>
<br/>
<br/>
<ul>
    {% for booking in bookings %}
    <li>
        {{ booking.venueName }} - {{ booking.showName }}
        Time - {{booking.startTime}} - {{booking.endTime}}
        Tickets Booked - {{booking.booking_tickets_booked}}
    </li>
</ul>
{% endfor %}
</body>
</html>