<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Venue</title>
</head>
<body>
Editing an existing venue.
<form action="/edit/venue" method="post">
    <label for="venueName">Venue Name: </label>
    <input id="venueName" type="text" name="venueName">
    <br/>
    <label for="place">Place: </label>
    <input id="place" type="text" name="place">
    <br/>
    <label for="location">Location: </label>
    <input id="location" type="text" name="location">
    <br/>
    <label for="capacity">Capacity: </label>
    <input id="capacity" type="text" name="capacity">
    <input type="hidden" name="venueId" value={{venueId}}>
    <br/>
    <input type="submit" value="Save">
</form>
</body>
</html>