<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
</head>
<body>
<form action="/login/user" method="post">
    <label for="username">Enter username:</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Enter password:</label>
    <input id="password" type="password" name="password" required>
    <input type="submit" name="login_type" value="Login">
</form>
<form action="/login/user" method="post">
    <input type="submit" name="login_type" value="Register">
</form>

</body>
</html>