<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Show</title>
</head>
<body>
{{ username }}'s Dashboard
<a href="/profile">Profile</a>
<a href="/bookings">Bookings</a>
<a href="/">Logout</a>


<ul>
    {% for venue in venues %}
    <li>
        {{ venue.venue_name }}
        <ul>
            {% for show in venue.showsArr %}
            <li>
                {{ show.show_name }}
                {{ show.show_start_time }}
                <form action="/book/show" method="get">
                    <input type="hidden" name="showId" value={{show.show_id}}>
                    <input type="submit" id="submit" value="Book">
                    <input type="hidden" id="availableSeats" value={{show.show_available_seats}}>
                </form>
                <script>
                    const availableSeats = document.getElementById("availableSeats").value;
                    if(availableSeats <= 0) {
                        const submitEl = document.getElementById("submit");
                        submitEl.value = "Housefull";
                        submitEl.disabled = true;
                    }
                </script>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>


</body>
</html>