<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
</head>
<body>
    <h2>Sections available are:</h2>
    <ol>
    {% for section in sections %}
       <li> <a href="{{ section.section_id }}/books">{{ section.section_name }}</a></li> 
    {% endfor %}
    </ol>

    <a href="/create/section">Create a section</a>

</body>
</html>