<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Section</title>
</head>
<body>
    <form action="/create/section" method="post">
        <label for="section">Enter section name:</label>
        <input id="section" type="text" name="s_name">
        <input type="submit" value="Add section">
    </form>
</body>
</html>